<!doctype html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The site provides information that fetches information from Mapbox.com and Darksky.net</p>
    <img class="portrait" src="/images/appa.jpg">
    
    </div>
    {{>footer}}

</body>


</html>